.main {
  background: #f8f8f8;
}


.card {
  display: flex;
  flex-wrap: wrap;
}


.calendar-container {
  width: 500px;
  margin: 0 auto;
  border-radius: 5px;
  background: #f6f5f4;
}
.area-search {
  height: 40px;
  line-height: 40px;
  text-align: left;
  font-size: 20px;
  margin: 0 20px;
  
}
.calendar {
  padding: 0 30px 30px 30px;
}
table {
  width: 100%;
}
th, td {
  text-align: center;
  padding: 10px;
}
th {
  font-weight: normal;
  font-size: 14px;
}
td {
  font-weight: bold;
}