<div class="col-lg-4">
                    <!-- 検索機能-->
                     <div class="card mb-4">
                      <div class="card-header">宿名で検索</div>
                        <%= search_form_for @q, url: search_tweets_path do |f| %>
                      <div class="card-body">
                        <div class="input-group">
                          <%= f.search_field :yado_name_cont, class:'form-control' %>
                          <%= f.submit '検索', class:"btn btn-primary" %>
                        </div>
                      </div>
                      <% end %>
                    </div>
                   
                    <!-- 都道府県カテゴリー-->
                    <div class="card mb-4">
                        <div class="card-header">都道府県検索</div>
                        <%= search_form_for @q, url: search_tweets_path do |f| %>
                        <div class="card-body">
                            <div class="row">
                            <div class="col-sm-6">
                                    <ul class="list-unstyled mb-0">
                                        <li><a href="#!">北海道</a></li>
                                        <li><a href="#!">青森県</a></li>
                                        <li><a href="#!">岩手県</a></li>
                                        <li><a href="#!">宮城県</a></li>
                                        <li><a href="#!">秋田県</a></li>
                                        <li><a href="#!">山形県</a></li>
                                        <li><a href="#!">福島県</a></li>
                                        <li><a href="#!">茨城県</a></li>
                                        <li><a href="#!">栃木県</a></li>
                                        <li><a href="#!">群馬県</a></li>
                                        <li><a href="#!">埼玉県</a></li>
                                        <li><a href="#!">千葉県</a></li>
                                        <li><a href="#!">東京都</a></li>
                                        <li><a href="#!">神奈川県</a></li>
                                        <li><a href="#!">新潟県</a></li>
                                        <li><a href="#!">富山県</a></li>
                                        <li><a href="#!">石川県</a></li>
                                        <li><a href="#!">福井県</a></li>
                                        <li><a href="#!">山梨県</a></li>
                                        <li><a href="#!">長野県</a></li>
                                        <li><a href="#!">岐阜県</a></li>
                                        <li><a href="#!">静岡県</a></li>
                                        <li><a href="#!">愛知県</a></li>
                                    </ul>
                                </div>
                                <div class="col-sm-6">
                                    <ul class="list-unstyled mb-0">
                                        <li><a href="#!">三重県</a></li>
                                        <li><a href="#!">滋賀県</a></li>
                                        <li><a href="#!">京都府</a></li>
                                        <li><a href="#!">大阪府</a></li>
                                        <li><a href="#!">兵庫県</a></li>
                                        <li><a href="#!">奈良県</a></li>
                                        <li><a href="#!">和歌山県</a></li>
                                        <li><a href="#!">鳥取県</a></li>
                                        <li><a href="#!">島根県</a></li>
                                        <li><a href="#!">岡山県</a></li>
                                        <li><a href="#!">広島県</a></li>
                                        <li><a href="#!">山口県</a></li>
                                        <li><a href="#!">徳島県</a></li>
                                        <li><a href="#!">香川県</a></li>
                                        <li><a href="#!">愛媛県</a></li>
                                        <li><a href="#!">高知県</a></li>
                                        <li><a href="#!">福岡県</a></li>
                                        <li><a href="#!">佐賀県</a></li>
                                        <li><a href="#!">長崎県</a></li>
                                        <li><a href="#!">熊本県</a></li>
                                        <li><a href="#!">大分県</a></li>
                                        <li><a href="#!">宮崎県</a></li>
                                        <li><a href="#!">鹿児島県</a></li>
                                        <li><a href="#!">沖縄県</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <% end %>
                    </div>
                    <!-- 投稿日カレンダー-->
                    <div class="card mb-4">
                      <div class="area-search">2021年 （近日実装）</div>
                      <table class="calendar">
                        <tr class="day">
                          <td><a href="#!">1月</a></td>
                          <td><a href="#!">2月</a></td>
                          <td><a href="#!">3月</a></td>
                          <td><a href="#!">4月</a></td>
                        </tr>
                        <tr class="day">
                          <td><a href="#!">5月</a></td>
                          <td><a href="#!">6月</a></td>
                          <td><a href="#!">7月</a></td>
                          <td><a href="#!">8月</a></td>
                        </tr>
                        <tr class="day">
                          <td><a href="#!">9月</a></td>
                          <td><a href="#!">10月</a></td>
                          <td><a href="#!">11月</a></td>
                          <td><a href="#!">12月</a></td>
                        </tr>
                      </table>
                    </div>
                </div>