.row {
  margin-left: auto;
  margin-right: auto;
}


.col-lg-offset-2 {
  margin-left: auto;
  margin-right: auto;
}


@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

.container-fluid {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.top-name {
  font-size: 50px;
  text-align: center;
}

.col-lg-4 {
position: relative;
min-height: 1px;
padding-right: 15px;
padding-left: 15px;
}

.img-responsive{
  display: block;
  max-width: 100%;
  height: auto;
}

.user-img {
  width: 100px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
}

